/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar */
  }

  /* Customize the navigation dots */
  .react-fullpage-navigation div {
    width: 2px;
    height: 2px;
    background-color: #ccc;
  }
  
  .react-fullpage-navigation div.active {
    width: 12px;
    height: 12px;
    background-color: #000;
  }

  .home-container {
    position: relative;
  }
  
  
  
